.account-mob-page {
    overflow-y: auto;
    height: 100vh;
    .account-item {
        ul {
            list-style-type: none;
            padding: 0;
            li {
                .bottom-border {
                    margin: 1rem 0rem 0.8rem 0rem;
                }
                .img-view {
                    display: block;
                    position: absolute;
                    width: 32px;
                    height: 32px;
                    background: #e6e6e6;
                    text-align: center;
                    align-content: center;
                    align-items: center;
                    border-radius: 50%;
                    -moz-border-radius: 50%;
                    -webkit-border-radius: 50%;
                    img {
                        margin-top: 18%;
                    }
                }
                .item-name-txt {
                    vertical-align: sub;
                }
            }
        }
    }
}
