.chat-list {
  max-width: 18rem;
  border-bottom: 1px solid #e2e0e0;
  cursor: pointer;
  span {
    font-size: 14px;
  }
}
.active {
  border-right: 3px solid #fdb62e;
  background: #ffe9bf;
}
.mobile-note-item {
  max-width: 100% !important;
  background: #efe9e0;
}
.text-flow {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
::ng-deep .selected {
  background: green;
}
