<div class="row m-0 mt-5">
    <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4 sidebar-width p-0">
        <div class="scroll-bar">
            <app-chat-sidebar [chatData]="chatItemList" (chatItem)="chatItemDetails($event)"></app-chat-sidebar>
        </div>
    </div>
    <div class="col-7 col-sm-7 col-md-7 col-lg-7 col-xl-7">
        <div class="pt-4">
            <div class="text-center pb-2">{{date | date:'medium'}}</div>
            <input type="text" class="w-75 ml-5" placeholder="Please enter text.." [(ngModel)]="title"
                (input)="onTitleChange($event.target.value)">
        </div>
    </div>
</div>